{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel = "icon" src="" type = "image">
    {% block title %}
    {% endblock title %}
    {% block head_scripts %}
    {% endblock head_scripts %}
    <script type="module" src="{% static 'Js/Vue/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'alerts.css' %}">
    <link rel="stylesheet" href="{% static 'default.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
</head>
<body class="bg-indigo-400">

<div class="wrapper" id="wrapper">
    {% include 'base_frames/frames/alerts/alerts.html' %}
    <div class="fixed
                top-0
                bg-white z-50
                w-screen
                h-screen
                duration-300
                "
                :class="{'invisible': rendered}"
                >


        <div class="w-full
                    h-full
                    text-center
                    content-center
                    grid grid-cols-1 gap-4
                    ">
            <span class="text-3xl text-gray-500 font-bold">Loading...</span>
        </div>

    </div>

    {% include 'base_frames/frames/header.html' %}
    <div class="w-screen mt-20">

        {% block content %}

        {% endblock content %}

    </div>

</div>

{% block any_js %}

{% endblock any_js %}

</body>
</html>
